---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=OPEN_WEATHER_API_KEY&zip=80301
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"80301","name":"Boulder County","lat":40.0497,"lon":-105.2143,"country":"US"}'
  recorded_at: Thu, 01 Feb 2024 04:53:56 GMT
recorded_with: VCR 6.2.0
